<!DOCTYPE html>
<html>
<head>
  <title>PocSpecifier</title>
  <%- if options.stylesheet? -%>

    <%%= stylesheet_link_tag "<%= file_name %>", :media => "all" %>
  <%- end -%>
  <%%= javascript_include_tag "application" %>
  <%%= csrf_meta_tags %>
</head>
<body>

<%%= yield %>

</body>
</html>
