<template>
  <b-card border-variant="dark">
    <b-card-text>
      <b>URI:</b>
      {{data.object.value}}
    </b-card-text>
    <b-card-text v-if="label">
      <b>Label:</b>
      {{label.object.value}}
    </b-card-text>
    <b-card-text v-if="what">
      <b>Classes it belongs to:</b>
      <ul>
        <li v-for="(w,ind) in what" :key="ind">{{w.object.value}}</li>
      </ul>
    </b-card-text>
    <div v-if="dataFields.length != 0">
      <b>Data fields:</b>
      <b-card border-variant="dark" v-for="(dat,ind) in dataFields" :key="ind">
        <b-card-text>
          <b>Label:</b>
          {{(dat.label && dat.label.length > 0 ) ? dat.label[0].object.value : ""}}
        </b-card-text>
        <b-card-text>
          <b>Description:</b>
          {{(dat.description && dat.description.length > 0) ? dat.description[0].object.value : ""}}
        </b-card-text>
        <b-card-text>
          <b>FieldType:</b>
          {{(dat.fieldType && dat.fieldType.length > 0) ? dat.fieldType[0].object.value :"" }}
        </b-card-text>
      </b-card>
    </div>
  </b-card>
</template>

<script>
import axios from "axios";
const $rdf = require("rdflib");
export default {
  props: {
    data: Object
  },
  data() {
    return {
      label: "",
      dataFields: [],
      dataNames: "",
      what: "",
      baseDatatype: "",
      maxSize: "",
      minSize: "",
      ministore: $rdf.graph()
    };
  },
  created() {
    axios
      .get(this.$props.data.object.value)
      .then(res => {
        return $rdf.parse(
          res.data.text,
          this.ministore,
          this.$props.data.object.value,
          "text/turtle"
        );
      })
      .then(() => {
        this.label = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://www.w3.org/2000/01/rdf-schema#label")
        )[0];
        this.baseDatatype = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#baseDatatype"
          )
        )[0];
        this.maxSize = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#maxSize"
          )
        )[0];
        this.dataNames = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#dataField"
          )
        );

        this.what = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://www.w3.org/1999/02/22-rdf-syntax-ns#type")
        );

        this.what.forEach(val => {
          if (val.object.termType == "BlankNode") {
            val.object.value = "BlankNode(" + val.object.value + ")";
          }
        });
        this.dataNames.forEach(d => {
          this.dataFields.push({
            label: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym("http://www.w3.org/2000/01/rdf-schema#label")
            ),
            fieldType: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym(
                "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#fieldType"
              )
            ),
            description: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym("http://purl.org/dc/terms/description")
            )
          });
        });
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style>
</style>