<template>
  <b-card border-variant="dark">
    <b-card-text>
      <b>URI:</b>
      {{data.object.value}}
    </b-card-text>
    <b-card-text v-if="what">
      <b>Classes it belongs to:</b>
      <ul>
        <li v-for="(w,ind) in what" :key="ind">{{w.object.value}}</li>
      </ul>
    </b-card-text>
    <b-card
      v-if="path"
      title="Image: "
      :img-src="path.object.value"
      img-alt="Image"
      style="max-width: 20rem;"
      img-bottom
      border-variant="dark"
    ></b-card>
    <b-card-text v-if="createdAt">
      <b>Created at:</b>
      {{createdAt.object.value}}
    </b-card-text>
    <b-card-text v-if="creator">
      <b>Creator:</b>
      {{creator.object.value}}
    </b-card-text>
    <b-button v-if="datatype" v-b-toggle="'collapse-'+random" variant="secondary">Datatype</b-button>
    <b-collapse v-if="datatype" :id="'collapse-'+random" class="mt-2">
      <Datatype :data="datatype" />
    </b-collapse>
    <b-card-text v-if="items && items.length > 0">
      <b>Items of this list:</b>
    </b-card-text>
    <b-card border-variant="dark" v-if="items && items.length > 0">
      <b-card-text v-for="(it,ind) in items[0].object.elements" :key="ind">
        <b>Item {{ind+1}}:</b>
        {{it.value}}
      </b-card-text>
    </b-card>
    <div v-if="fieldValues.length != 0">
      <b>Field values:</b>
      <b-card border-variant="dark" v-for="(dat,ind) in fieldValues" :key="ind">
        <b-card-text>
          <b>Label:</b>
          {{(dat.label && dat.label.length > 0 ) ? dat.label[0].object.value : ""}}
        </b-card-text>
        <b-card-text v-if="dat.uriValue && dat.uriValue.length > 0">
          <b>Uri value:</b>
          <b-button v-b-toggle="'collapse-'+random2" variant="secondary">Data Instance</b-button>
          <b-collapse :id="'collapse-'+random2" class="mt-2">
            <DataInstance :data="dat.uriValue[0]" :ind="Math.random()" />
          </b-collapse>
        </b-card-text>
        <b-card-text v-if="dat.literalValue && dat.literalValue.length > 0">
          <b>Literal value:</b>
          {{(dat.literalValue && dat.literalValue.length > 0) ? dat.literalValue[0].object.value : "" }}
        </b-card-text>
      </b-card>
    </div>
  </b-card>
</template>

<script>
import axios from "axios";
const $rdf = require("rdflib");
import Datatype from "./Datatype";
import DataInstance from "./DataInstance";
export default {
  name: "DataInstance",
  props: {
    data: Object,
    ind: Number
  },
  components: {
    Datatype,
    DataInstance
  },
  data() {
    return {
      fieldValues: [],
      fieldNames: "",
      what: "",
      createdAt: "",
      creator: "",
      datatype: "",
      items: "",
      path: "",
      random: Math.random(),
      random2: Math.random(),
      ministore: $rdf.graph()
    };
  },
  created() {
    axios
      .get(this.$props.data.object.value)
      .then(res => {
        return $rdf.parse(
          res.data.text,
          this.ministore,
          this.$props.data.object.value,
          "text/turtle"
        );
      })
      .then(() => {
        this.fieldNames = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#fieldValue"
          )
        );
        this.creator = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://purl.org/dc/terms/creator")
        )[0];
        this.createdAt = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://purl.org/dc/terms/created")
        )[0];
        this.datatype = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#datatype"
          )
        )[0];
        this.path = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#path"
          )
        )[0];
        this.what = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://www.w3.org/1999/02/22-rdf-syntax-ns#type")
        );

        this.what.forEach(val => {
          if (val.object.termType == "BlankNode") {
            val.object.value = "BlankNode(" + val.object.value + ")";
          }
        });
        this.items = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#items"
          )
        );
        this.fieldNames.forEach(d => {
          this.fieldValues.push({
            label: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym("http://www.w3.org/2000/01/rdf-schema#label")
            ),
            literalValue: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym(
                "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#literalValue"
              )
            ),
            uriValue: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym(
                "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#uriValue"
              )
            )
          });
        });
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style>
</style>