<template>
  <b-container id="datatypes">
    <b-row v-for="(d,ind) in data" :key="ind">
      <b-col>
        <Datatype :data="d"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Datatype from "./Datatype";
export default {
  props: {
    data: Array
  },
  components: {
    Datatype
  }
};
</script>

<style>
</style>