<template>
<b-container id="dataInstances">
  <b-row v-for="(d,ind) in data" :key="ind">
    <b-col>
      <DataInstance :ind="ind" :data="d"/>
    </b-col>
  </b-row>
</b-container>
</template>

<script>
import DataInstance from "./DataInstance";
export default {
  props: {
    data: Array
  },
  components: {
    DataInstance
  }
};
</script>

<style>
</style>