<template>
  <b-container id="stepInstances">
    <b-row v-for="(d,ind) in data" :key="ind">
      <b-col>
        <StepInstance :data="d" :ind="ind" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import StepInstance from "./StepInstance";
export default {
  props: {
    data: Array
  },
  components: {
    StepInstance
  }
};
</script>

<style>
</style>