<template>
  <b-card border-variant="dark">
    <b-card-text>
      <b>URI:</b>
      {{data.object.value}}
    </b-card-text>
    <b-card-text>
      <b>Classes it belongs to:</b>
      <ul>
        <li v-for="(w,ind) in what" :key="ind">{{w.object.value}}</li>
      </ul>
    </b-card-text>
    <b-card-text>
      <b>Input Ports:</b>
      <b-card border-variant="dark" v-for="(dat,ind) in inputPorts" :key="ind">
        <b-card-text>
          <b>Label:</b>
          {{(dat.label && dat.label.length > 0 ) ? dat.label[0].object.value : ""}}
        </b-card-text>
      </b-card>
    </b-card-text>
    <b-card-text>
      <b>Output Ports:</b>
      <b-card border-variant="dark" v-for="(dat,ind) in outputPorts" :key="ind">
        <b-card-text>
          <b>Label:</b>
          {{(dat.label && dat.label.length > 0 ) ? dat.label[0].object.value : ""}}
        </b-card-text>
      </b-card>
    </b-card-text>
  </b-card>
</template>

<script>
import axios from "axios";
const $rdf = require("rdflib");
export default {
  props: {
    data: Object
  },
  data() {
    return {
      inputPorts: [],
      outputPorts: [],
      inputNames: "",
      outputNames: "",
      what: "",
      ministore: $rdf.graph()
    };
  },
  created() {
    axios
      .get(this.$props.data.object.value)
      .then(res => {
        return $rdf.parse(
          res.data.text,
          this.ministore,
          this.$props.data.object.value,
          "text/turtle"
        );
      })
      .then(() => {
        this.inputNames = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#inputPort"
          )
        );

        this.outputNames = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#outputPort"
          )
        );

        this.what = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://www.w3.org/1999/02/22-rdf-syntax-ns#type")
        );
        this.outputNames.forEach(d => {
          this.outputPorts.push({
            label: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym("http://www.w3.org/2000/01/rdf-schema#label")
            )
          });
        });
        this.inputNames.forEach(d => {
          this.inputPorts.push({
            label: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym("http://www.w3.org/2000/01/rdf-schema#label")
            )
          });
        });
        this.what.forEach(val => {
          if (val.object.termType == "BlankNode") {
            val.object.value = "BlankNode(" + val.object.value + ")";
          }
        });
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style>
</style>