<template>
  <b-card border-variant="dark">
    <b-card-text>
      <b>URI:</b>
      {{data.object.value}}
    </b-card-text>
    <b-card-text v-if="createdAt">
      <b>Created at:</b>
      {{createdAt.object.value}}
    </b-card-text>
    <b-card-text v-if="creator">
      <b>Creator:</b>
      {{creator.object.value}}
    </b-card-text>
    <b-card-text v-if="view">
      <b>View:</b>
      {{view.object.value}}
    </b-card-text>
    <b-card-text v-if="status">
      <b>Status:</b>
      {{status.object.value}}
    </b-card-text>
    <b-button v-if="datatype" v-b-toggle="'collapse-'+random" variant="secondary">Step</b-button>
    <b-collapse v-if="datatype" :id="'collapse-'+random" class="mt-2">
      <Step :data="datatype" />
    </b-collapse>
    <div v-if="inputs && inputs.length != 0">
      <b>Inputs:</b>
      <b-card  border-variant="dark" v-for="(dat,ind) in inputs" :key="ind">
        <b-card-text>
          <b>Label:</b>
          {{(dat.label && dat.label.length > 0 ) ? dat.label[0].object.value : ""}}
        </b-card-text>
        <b-card-text v-if="dat.uriValue && dat.uriValue.length > 0">
          <div v-if="(dat.label && dat.label.length > 0 ) && dat.label[0].object.value=='datatype'">
            <b-button v-b-toggle="'collapse-'+ind+random2" variant="secondary">Datatype</b-button>
            <b-collapse :id="'collapse-'+ind+random2" class="mt-2">
              <Datatype :data="dat.uriValue[0]" :ind="Math.random()"/>
            </b-collapse>
          </div>
          <div v-if="(dat.label && dat.label.length > 0 ) && dat.label[0].object.value!='datatype'">
            <b-button v-b-toggle="'collapse-'+ind+random2" variant="secondary">Data Instance</b-button>
            <b-collapse :id="'collapse-'+ind+random2" class="mt-2">
              <DataInstance :data="dat.uriValue[0]" :ind="Math.random()" />
            </b-collapse>
          </div>
        </b-card-text>
        <b-card-text v-if="dat.literalValue && dat.literalValue.length > 0">
          <b>Literal value:</b>
          {{(dat.literalValue && dat.literalValue.length > 0) ? dat.literalValue[0].object.value : "" }}
        </b-card-text>
      </b-card>
    </div>
    <div v-if="outputs && outputs.length != 0">
      <b>Outputs:</b>
      <b-card border-variant="dark" v-for="(dat,ind) in outputs" :key="ind">
        <b-card-text>
          <b>Label:</b>
          {{(dat.label && dat.label.length > 0 ) ? dat.label[0].object.value : ""}}
        </b-card-text>
        <b-card-text v-if="dat.uriValue && dat.uriValue.length > 0">
          <div v-if="(dat.label && dat.label.length > 0 ) && dat.label[0].object.value=='datatype'">
            <b-button v-b-toggle="'collapse-'+ind+random3" variant="secondary">Datatype</b-button>
            <b-collapse :id="'collapse-'+ind+random3" class="mt-2">
              <Datatype :data="dat.uriValue[0]" :ind="Math.random()" />
            </b-collapse>
          </div>
          <div v-if="(dat.label && dat.label.length > 0 ) && dat.label[0].object.value!='datatype'">
            <b-button v-b-toggle="'collapse-'+ind+random3" variant="secondary">Data Instance</b-button>
            <b-collapse :id="'collapse-'+ind+random3" class="mt-2">
              <DataInstance :data="dat.uriValue[0]" :ind="Math.random()" />
            </b-collapse>
          </div>
        </b-card-text>
        <b-card-text v-if="dat.literalValue && dat.literalValue.length > 0">
          <b>Literal value:</b>
          {{(dat.literalValue && dat.literalValue.length > 0) ? dat.literalValue[0].object.value : "" }}
        </b-card-text>
      </b-card>
    </div>
  </b-card>
</template>

<script>
import axios from "axios";
const $rdf = require("rdflib");
import Step from "./Step";
import DataInstance from "./DataInstance";
import Datatype from "./Datatype";
export default {
  props: {
    data: Object,
    ind: Number
  },
  components: {
    Step,
    DataInstance,
    Datatype
  },
  data() {
    return {
      view: "",
      inputNames: "",
      outputNames: "",
      createdAt: "",
      creator: "",
      datatype: "",
      status: "",
      random: Math.random(),
      random2: Math.random(),
      random3: Math.random(),
      inputs: [],
      outputs: [],
      ministore: $rdf.graph()
    };
  },
  created() {
    axios
      .get(this.$props.data.object.value)
      .then(res => {
        return $rdf.parse(
          res.data.text,
          this.ministore,
          this.$props.data.object.value,
          "text/turtle"
        );
      })
      .then(() => {
        this.view = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#view"
          )
        )[0];
        this.inputNames = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc/services#input"
          )
        );
        this.outputNames = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc/services#output"
          )
        );
        this.creator = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://purl.org/dc/terms/creator")
        )[0];
        this.createdAt = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://purl.org/dc/terms/created")
        )[0];
        this.datatype = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#datatype"
          )
        )[0];
        this.status = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc/services#status"
          )
        )[0];

        this.inputNames.forEach(d => {
          this.inputs.push({
            label: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym("http://www.w3.org/2000/01/rdf-schema#label")
            ),
            literalValue: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym(
                "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#literalValue"
              )
            ),
            uriValue: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym(
                "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#uriValue"
              )
            )
          });
        });
        this.outputNames.forEach(d => {
          this.outputs.push({
            label: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym("http://www.w3.org/2000/01/rdf-schema#label")
            ),
            literalValue: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym(
                "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#literalValue"
              )
            ),
            uriValue: this.ministore.match(
              new $rdf.BlankNode(d.object.value),
              this.ministore.sym(
                "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#uriValue"
              )
            )
          });
        });
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style>
</style>