<template>
  <b-container id="steps">
    <b-row v-for="(d,ind) in data" :key="ind">
      <b-col>
        <Step :data="d" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Step from "./Step";
export default {
  props: {
    data: Array
  },
  components: {
    Step
  }
};
</script>

<style>
</style>