<template>
  <b-card border-variant="dark">
    <b-card-text>
      <b>URI:</b>
      {{data.object.value}}
    </b-card-text>
  </b-card>
</template>

<script>

export default {
  props: {
    data: Object,
  },
};
</script>

<style>
</style>