<template>
  <b-container id="users">
    <b-row v-for="(d,ind) in data" :key="ind">
      <b-col>
        <User :data="d"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import User from "./User";
export default {
  props: {
    data: Array
  },
  components:{
    User
  }
};
</script>

<style>
</style>