<template>
  <b-card border-variant="dark">
    <b-card-text>
      <b>URI:</b>
      {{data.object.value}}
    </b-card-text>
    <b-card-text>
      <b>Label:</b>
      {{label}}
    </b-card-text>
    <b-card-text>
      <b>Description:</b>
      {{description}}
    </b-card-text>
    <b-button
      v-if="showInvoke"
      @click="$store.dispatch('invokeWorkflow', {workflow: data.object, vm: vm})"
    >Invoke</b-button>
  </b-card>
</template>

<script>
import axios from "axios";
const $rdf = require("rdflib");
export default {
  props: {
    data: Object,
    showInvoke: Boolean
  },
  data() {
    return {
      label: "",
      description: "",
      vm: this,
      ministore: $rdf.graph()
    };
  },
  created() {
    axios
      .get(this.$props.data.object.value)
      .then(res => {
        return $rdf.parse(
          res.data.text,
          this.ministore,
          this.$props.data.object.value,
          "text/turtle"
        );
      })
      .then(() => {
        this.description = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://purl.org/dc/terms/description")
        )[0].object.value;
        this.label = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://www.w3.org/2000/01/rdf-schema#label")
        )[0].object.value;
      })
      .catch(err => {
        console.log(err);
      });
  },
};
</script>

<style>
</style>