<template>
  <b-card border-variant="dark">
    <b-card-text>
      <b>URI:</b>
      {{data.object.value}}
    </b-card-text>
    <b-card-text v-if="createdAt">
      <b>Created at:</b>
      {{createdAt.object.value}}
    </b-card-text>
    <b-card-text v-if="creator">
      <b>Creator:</b>
      {{creator.object.value}}
    </b-card-text>
    <b-card-text v-if="status">
      <b>Status:</b>
      {{status.object.value}}
    </b-card-text>
    <b-card border-variant="dark" v-if="stepInstances && stepInstances.length > 0">
      <StepInstances :data="stepInstances" />
    </b-card>
    <b-card-text v-if="what">
      <b>Classes it belongs to:</b>
      <ul>
        <li v-for="(w,ind) in what" :key="ind">{{w.object.value}}</li>
      </ul>
    </b-card-text>
    <b-button v-b-toggle="'collapse-'+ind" variant="secondary">Datatype</b-button>
    <b-collapse v-if="datatype" :id="'collapse-'+ind" class="mt-2">
      <Workflow :data="datatype" :showInvoke="false" />
    </b-collapse>
  </b-card>
</template>

<script>
import axios from "axios";
import Workflow from "./Workflow";
import StepInstances from "./StepInstances";
const $rdf = require("rdflib");
export default {
  props: {
    data: Object,
    ind: Number
  },
  data() {
    return {
      createdAt: "",
      creator: "",
      datatype: "",
      what: "",
      stepInstances: "",
      stepInstanceLoc: "",
      status: "",
      ministore: $rdf.graph()
    };
  },
  components: {
    Workflow,
    StepInstances
  },
  created() {
    axios
      .get(this.$props.data.object.value)
      .then(res => {
        return $rdf.parse(
          res.data.text,
          this.ministore,
          this.$props.data.object.value,
          "text/turtle"
        );
      })
      .then(() => {
        // this.ministore.match().forEach(e => {
        //   console.log(e.subject.value);
        //   console.log(e.predicate.value);
        //   console.log(e.object.value);
        //   console.log();
        // });
        this.creator = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://purl.org/dc/terms/creator")
        )[0];
        this.createdAt = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://purl.org/dc/terms/created")
        )[0];
        this.stepInstanceLoc = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc/services#stepInstances"
          )
        );
        if (this.stepInstanceLoc && this.stepInstanceLoc.length > 0) {
          axios
            .get(this.stepInstanceLoc[0].object.value)
            .then(res => {

              return $rdf.parse(
                res.data.text,
                this.ministore,
                this.stepInstanceLoc[0].object.value,
                "text/turtle"
              );
            })
            .then(() => {
              this.stepInstances = this.ministore.match(
                this.ministore.sym(this.stepInstanceLoc[0].object.value),
                this.ministore.sym("http://www.w3.org/ns/ldp#contains")
              );
            })
            .catch(err => {
              console.log(err);
            });
        }
        this.status = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc/services#status"
          )
        )[0];
        this.what = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym("http://www.w3.org/1999/02/22-rdf-syntax-ns#type")
        );
        this.what.forEach(val => {
          if (val.object.termType == "BlankNode") {
            val.object.value = "BlankNode(" + val.object.value + ")";
          }
        });

        this.datatype = this.ministore.match(
          this.ministore.sym(this.$props.data.object.value),
          this.ministore.sym(
            "http://web.cmpe.boun.edu.tr/soslab/ontologies/poc#datatype"
          )
        )[0];
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style>
</style>