<template>
  <b-container id="workflows">
    <b-row v-for="(d,ind) in data" :key="ind">
      <b-col>
        <Workflow :data="d" :showInvoke="true" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Workflow from "./Workflow";
export default {
  props: {
    data: Array
  },
  components: {
    Workflow
  }
};
</script>

<style>
</style>