<template>
  <b-container id="workflowInstances">
    <b-row v-for="(d,ind) in data" :key="ind">
      <b-col>
        <WorkflowInstance :ind="ind" :data="d" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import WorkflowInstance from "./WorkflowInstance";
export default {
  props: {
    data: Array
  },
  components: {
    WorkflowInstance
  }
};
</script>

<style>
</style>