<template>
  <div id="app">
    <div id="nav">
      <b-navbar class="rounded" toggleable="lg" type="light" variant="light">
        <b-navbar-brand>Spec Runner</b-navbar-brand>
      </b-navbar>
    </div>
    <b-container>
      <b-row class="mb-3">
        <b-col class="d-flex flex-column justify-content-center align-items-center">
          <label for="apiEndpoint">Enter api endpoint:</label>
          <b-form-input style="max-width: 20rem;" id="apiEndpoint" v-model="apiEndpoint"></b-form-input>
        </b-col>
        <b-col class="d-flex justify-content-center align-items-center">
          <b-button-group>
            <b-button class="mr-2 rounded" variant="success" @click="$store.dispatch('init')">
              <b-spinner small variant="light" v-if="fetching"></b-spinner>
              <span v-if="!fetching">Start</span>
            </b-button>
            <b-button class="rounded" variant="danger" @click="$store.commit('clear')">Clear</b-button>
          </b-button-group>
        </b-col>
      </b-row>
      <b-row class="mb-3">
        <b-col>
          <b-card bo-body>
            <b-tabs pills card>
              <b-tab :title="'Workflows ' + workflows.length" active>
                <Workflows :data="workflows" />
              </b-tab>
              <b-tab :title="'Workflow Instances ' + workflowInstances.length">
                <WorkflowInstances :data="workflowInstances" />
              </b-tab>
              <b-tab :title="'Datatypes ' + datatypes.length">
                <DataTypes :data="datatypes" />
              </b-tab>
              <b-tab :title="'Data Instances ' + dataInstances.length">
                <DataInstances :data="dataInstances" />
              </b-tab>
              <b-tab :title="'Steps ' + steps.length">
                <Steps :data="steps" />
              </b-tab>
              <b-tab :title="'Step Instances ' + stepInstances.length">
                <StepInstances :data="stepInstances" />
              </b-tab>
              <b-tab :title="'Users ' + users.length">
                <Users :data="users" />
              </b-tab>
              <b-tab :title="'Statements ' + statements.length">
                <b-card border-variant="dark" v-if="statements && statements.length > 0">
                  <div class="mt-3" v-for="(st,ind) in statements" :key="ind">
                    <b-card-text class="m-0">{{st.subject.value}}</b-card-text>
                    <b-card-text class="m-0">{{st.predicate.value}}</b-card-text>
                    <b-card-text class="m-0">{{st.object.value}}</b-card-text>
                  </div>
                </b-card>
              </b-tab>
            </b-tabs>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="about d-flex flex-column justify-content-center align-items-center">
          <p>This project is an interface for api that is generated automatically upon giving a POC(purposeful online communities) specification.</p>
          <p>
            The api generating prototype is developed by Murat Seyhan as MS thesis project. You can get the details of the project
            <a
              href="https://gitlab.com/srknzl/solid-decentralized-web-applications/-/wikis/home"
              target="blank"
            >here</a>
          </p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
}

#nav a.router-link-exact-active {
  color: #0a91ff;
}
</style>

<script>
import { mapState } from "vuex";
import Workflows from "./components/Workflows";
import WorkflowInstances from "./components/WorkflowInstances";
import Steps from "./components/Steps";
import StepInstances from "./components/StepInstances";
import Users from "./components/Users";
import DataInstances from "./components/DataInstances";
import DataTypes from "./components/Datatypes";
export default {
  data: function() {
    return {};
  },
  components: {
    Workflows,
    WorkflowInstances,
    Steps,
    StepInstances,
    DataTypes,
    DataInstances,
    Users
  },
  computed: {
    apiEndpoint: {
      get() {
        return this.$store.state.apiEndpoint;
      },
      set(value) {
        this.$store.commit("updateapiEndpoint", value);
      }
    },
    datatypes() {
      return this.$store.state.datatypes;
    },
    dataInstances() {
      return this.$store.state.dataInstances;
    },
    workflows() {
      return this.$store.state.workflows;
    },
    workflowInstances() {
      return this.$store.state.workflowInstances;
    },
    steps() {
      return this.$store.state.steps;
    },
    stepInstances() {
      return this.$store.state.stepInstances;
    },
    users() {
      return this.$store.state.users;
    },
    statements() {
      return this.$store.state.statements;
    },
    fetching() {
      return this.$store.state.fetching;
    }
  },
  methods: {}
};
</script>