<div>

  <h2>Submit a file containing a POC specification serialized in Turtle format.</h2>

<%= form_tag({:action => :load_spec}, :multipart => true) do %>
     <%= file_field_tag 'file' %>
     <%= submit_tag('Submit') %>
 <% end %>

 <%= form_with(url: "/load_spec", method: "get") do %>
    <%= label_tag(:q, "file:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Submit") %>
  <% end %>

</div>